<ion-view view-title="Formula One Championship" hide-back-button="true">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="show()">Options</button>
    </ion-nav-buttons>
  <ion-content>
  <div class="row responsive-sm">
    <img class=".col" src="img/f1.jpg" width="100%" alt="F1" />
  </div>
        <div>
          <h4>Formula1</h4>
          <p>
            HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
          </p>

          <h4>Angular</h4>
          <p>
            AngularJS is a toolset for building the framework most suited to your application development.
          </p>

          <h4>Karma</h4>
          <p>Spectacular Test Runner for JavaScript.</p>
        </div>
  </ion-content>
</ion-view>


