<ion-view view-title="Formula One Championship {{year}}" hide-back-button="true">
  <ion-nav-buttons side="left">
      <button class="button icon-left ion-chevron-left button-clear" ng-click="returnToDriversLayout()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/drivers/{{driver.Driver.driverId}}.png">
        <h2>{{driver.Driver.givenName}} {{driver.Driver.familyName}} - {{driver.Driver.nationality}}</h2>
        <p>{{driver.Constructors[0].name}} ({{driver.Driver.dateOfBirth}})</p>
      </div>
      <ion-list>
          <ion-item ng-repeat="race in races" ng-click="goToSource($index)">
              
              <img class="profile" width="40px" height="40px" ng-src="img/flags/{{race.Circuit.Location.country}}.png" />
              <div class="general_info">
                <p>Race round number: {{race.round}}</p>
                <p>Team: {{race.Results[0].Constructor.name}}</p>
                <p>Qualified position: {{race.Results[0].grid}}</p>
              </div>
              <div class="position">
                  <b class="pos_text">POSITION: {{race.Results[0].position}}</b>
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </div>
          </ion-item>
        </ion-list>


    </div>
  </ion-content>
</ion-view>