/* Map properties */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

/* Ranking properties*/
.profile {
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 15px 5px 5px;
}

.general_info
{
	float: left;
}

.position
{
	float: right;
}

.position b {
	font-size: 22px;
}

img 
{
    max-width: 400px;
    max-height: 320px;
}

/*******************************************/

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.item .item-options .button{
  background: transparent;
}

.item-divisor{
  border-bottom: solid 1px rgba(0,0,0,.12)!important;
  font-size: 14px; 
  font-weight: 700; 
  line-height: 35px;
  color: rgba(0,0,0,.54);

  .item-content{
    padding: 10px 0px 10px 10em!important;

    .izquierdo {
      position: absolute;
      left: 30px;
      top: 30%;
      font-size: 1.1em;
    }
  }
}
.item .linea{
  height: 20px;
  font-weight: 400;
}